*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typo */

/* Elements */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightblue;
    border: solid 3px darkblue;
    height: 15%; /* Adjust percentage as needed */
}

main {
    height: 70%; /* Adjust percentage as needed */
    border: solid 3px darkblue;
    border-top: none;
    display: flex;
    flex-direction: column;
}

footer {
    height: 5%; /* Adjust percentage as needed */
    padding: 10px;
    border: solid 1px darkblue;
}

/* Classes */
.board {
    flex: 1; /* This makes .board expand to fill the remaining height of main */
    display: flex;
    border: solid 3px darkblue;
    overflow: hidden;
}

.section {
    width: calc(100% / 3);
    height: 100%;
    text-align: center;
    flex-shrink: 0; /* Prevents the section from shrinking below its content */
    border-right: 2px solid darkblue; /* Add right border between sections */
    display: flex; /*Ensure .section is a flex container */
    flex-direction: column; /*Arrange children in a column */
    /* justify-content: center; */
    align-items: center;

    overflow-y: auto; /* Use auto to show scrollbar when necessary */
    padding: 10px;
    max-height: 100%; /* Adjust height as needed */
    height: 100%; /* Ensure full height */
    /* width: 100%; */
}
.section:last-child {
    border-right: none; /* Remove border on the last .section element */
}

.section h2 {
    background-color: lightgrey;
    border: 1px solid blue;
    margin: 0 20px;
}

.section button {
    /* width: 15px; */
    justify-self: center;
    margin: 10px;
}

.archive {
    height: 10%;
}

.tasks-column {
    width: 100%;
}

.clickable {
    cursor: pointer;
}


/* IDs */
.error {
    color: #772014;
}

/* media */
@media screen and (max-width: 600px) {
    header {
        background: #772014;
    }
    .board {
        flex-direction: column;
        padding: 10px;
    }

    .section {
        width: 100%;
        margin-bottom: 10px;
        height: calc(100% / 3);
    }
}
